/* メイン */
.container-wrap {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-auto-flow: column;
}

.container {
    grid-column: 2/3;
    grid-row: 1/2;
    min-height: 100vh;
    width: 100%;
    text-align: center;
}

@font-face {
    font-family: number;
    src: local("Hiragino Mincho ProN");
    unicode-range: U+0030-0039;
}

h1 {
    font-size: clamp(25px, 2.3vw, 35px);
    border-left: 10px solid #000000;
    padding: 2px 20px;
    margin-bottom: 60px;
    background: transparent;
    text-align: left;
}

.attendance-table {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    /* border-top: 2px solid black; */
    background-color: white;
    border-radius: 10px;
}

.table-header {
    display: contents;
    background-color: #eee;
}

.table-row {
    display: contents;
}

.table-header-name,
.table-header-mail,
.table-header-detail {
    padding: 10px;
    border-bottom: 2px solid #ccc;
    text-align: center;
    color: #525151;
    font-family: number;
}

.table-header-name {
    padding-left: 30%;
}

.name {
    padding: 10px;
    padding-left: 30%;
    border-bottom: 1px solid #ccc;
    text-align: center;
    color: #525151;
    font-family: number;
}

.mail,
.detail {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    text-align: center;
    color: #525151;
    font-family: number;
}

.table-row a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
}

.table-row a:hover {
    color: blue;
    text-decoration: underline;
}

/* レスポンシブ対応 */

/* タブレット: 768px～850px */
@media (max-width: 850px) and (min-width: 768px) {
    /* メイン */
    .container-wrap {
        grid-template-columns: 0.5fr 4fr 0.5fr;
    }
}
