/* メイン */
.container-wrap {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-auto-flow: column;
}

.container {
    grid-column: 2/3;
    grid-row: 1/2;
    min-height: 100vh;
    width: 100%;
    text-align: center;
    /* margin-top: 20vh; */
    /* place-content: center; */
    /* justify-content: center; */
}

@font-face {
    font-family: number;
    src: local("Hiragino Mincho ProN");
    unicode-range: U+0030-0039;
}

h1 {
    font-size: clamp(25px, 2.3vw, 35px);
    border-left: 10px solid #000000;
    padding: 2px 20px;
    margin-bottom: 20px;
    background: transparent;
    text-align: left;
}

.month-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
}

.month-navigation button {
    font-size: clamp(14px, 1.25vw, 19px);
    padding: 5px 20px;
    border: none;
    /* background-color: #ddd; */
    background: transparent;
    cursor: pointer;
    border-radius: 5px;
    letter-spacing: 0.12em;
    color: #525151;
}

.month-navigation-center {
    display: flex;
    justify-content: center;
}

.month-navigation-calendar__image {
    width: 15%;
    height: auto;
    margin-right: 10px;
}

.month {
    font-size: clamp(18px, 1.65vw, 25px);
    font-weight: bold;
    font-family: number;
}

.attendance-table {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

.table-header {
    display: contents;
    background-color: #eee;
}

.table-row {
    display: contents;
}

.table-header span,
.table-row span {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    text-align: center;
    color: #525151;
    font-family: number;
}

.table-row a {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    text-align: center;
    color: #000;
    font-family: number;
    font-weight: bold;
}

/* レスポンシブ対応 */

/* タブレット: 768px～850px */
@media (max-width: 850px) and (min-width: 768px) {
    /* メイン */
    .container-wrap {
        grid-template-columns: 0.5fr 4fr 0.5fr;
    }
}
